        <html ng-app="myApp">
        <head>
        <script src="lib/angular/angular.js"></script>
        <script src="js/testEventCtrls.js"></script>
		<style type="text/css">
		   .blueClass {color:blue;}
		</style>
        </head>
        <body ng-controller="MainCtrl" 	bgColor="{{my_background_color}}">
		<h1> {{title}} </h1>
		
		<input type='checkbox' ng-model="with_details">avec details </input>
		<br/>
        <div ng-show="with_details">
		my background color : <input type='color' ng-model="my_background_color" /> <br/> 
		***
		</div>
		#### <br/>
		a: <input type='text' ng-model="a" /> <br/>
		b: <input type='text' ng-model="b" /> <br/>
	    operation: <input type='button' value="a+b" ng-click="addition()" /> 
        <input type='button' value="a/b" ng-click="division()" ng-disabled="b==0 || b=='' || b==undefined" />		<br/>
		res: {{res}}
		<hr/>
		texte : <input type='text' ng-model="my_text" ng-change="inverser_texte()" /> <br/>
		texte inverse (apres declenchement evenement): {{my_text_inverse}} <br/>
		<hr/>
		<table border="1">
		<tr ng-repeat="p in pays.liste"> <td  ng-click="pays.doClick(p, $event)"> <span class="blueClass"> {{p.nom}} <span></td> <td> {{p.capitale}}</td> </tr>
		</table>
		<hr/>
		 <canvas id="myCanvas" width="250" height="150" style="border:1px solid #000000;"
		 ng-click="log_coords($event)">
		</canvas>  <input type='button' value="clear" ng-click="clear_canvas()" />
		<hr/>
		{{my_status_msg}}
        </body>
        </html>