        <div ng-controller="ClientIdentifieCtrl">
        <h3>  client identifie : {{clientId}}</h3> 
        {{client.prenom}} {{client.nom}} <br/>
		adresse: {{client.adresse.rue}} {{client.adresse.codePostal}} {{client.adresse.ville}} <br/>
		telephone: {{client.telephone}} <br/>
		email: {{client.email}}
		<hr/>
		
		
		action: <select ng-model="renderPath" ng-click="message=''">
		    <option value="listeComptes"> liste des comptes </option>
		    <option value="paramVirement">effectuer un virement</option>
			<!-- <option value="dernieresOperations">dernieres Operations</option> indirectement apres selection dans tableau -->
		</select>
		{{message}}
	    <hr/>
		
		<div ng-switch on="renderPath">
		    <div ng-switch-when="paramVirement">
				<ng-include src=" 'partials/pourClientIdentifie/paramVirement.html' " />
			</div>
			
		    <div ng-switch-when="listeComptes">
			   <ng-include src=" 'partials/pourClientIdentifie/listeComptes.html' " />
			</div>
			
			<div ng-switch-when="dernieresOperations" >
			    <ng-include src=" 'partials/pourClientIdentifie/dernieresOperations.html' " />
			</div>
			<div ng-switch-default > *** </div>
		</div>
		
        </div>
        