      <div id="divVirement" style="background-color:rgb(160,160,250); margin:3px; padding:3px;" >
        <h3> parametrage virement </h3> 
		   <label for="montant">montant :</label> <input id="montant" ng-model="identifie.transfert.montant"  /> <br/>
           <label for="numCptDeb">numCptDeb :</label> <input id="numCptDeb" ng-model="identifie.transfert.numCptDeb"  /> <br/>
           <label for="numCptCred">numCptCred :</label> <input id="numCptCred" ng-model="identifie.transfert.numCptCred"  /> <br/>
		  <button ng-click="identifie.doVirementAndRefresh()">effectuer le virement</button>
        </div>
        